[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/party-protocol"]
	path = lib/party-protocol
	url = https://github.com/partydao/party-protocol
	branch = main
